<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p>Bienvenido {{usuario}} <a class="btn btn-danger" href="/admin/login/logout">Salir<i class="fas fa-sign-out-alt"></i></a></p>
    </div>
    <div class="row">
        <h1>Hola aca van a figurar las novedades</h1>
    </div>
</div>